body {
  font-family: system-ui;
  font-variant: small-caps;
}

.nav-link.active {
  font-weight: 500;
}

header {
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.explore {
  position: relative;
  transform: translateY(-250%);
}

.recomended-card-image {
  filter: contrast(60%) brightness(70%);
}

.category-card {
  filter: none;
}

.category-card:hover {
  filter: brightness(130%) drop-shadow(2px 2px 10px gray);
}

@media (max-width: 500px) {
  .explore {
    transform: translateY(-120%);
  }
}
.shopping-cart-footer {
  display: table;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #e1e7ec
}

.cart-container {
  min-height: 1000px;
}

@media (max-width: 768px) {
  .shopping-cart-footer>.column {
    display: block;
    width: 100%
  }
  .shopping-cart-footer>.column:last-child {
    text-align: center
  }
  .shopping-cart-footer>.column .btn {
    width: 100%;
    margin: 12px 0 !important
  }
}

.checkout-container {
  min-height: 1000px;
}

@media (min-width: 900px) {
  .checkout-card {
    width: 700px;
  }
}

.mail-form .form-control:not(textarea) {
  height: 46px;
}

.price {
  border-radius: none;
  height: 38px;
}

.contact-container {
  min-height: 1000px;
}

.form-control {
  padding: 0 18px 3px;
  border: 1px solid #dbe2e8;
  border-radius: 5px;
  background-color: #fff;
  color: #2c2c2c;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.product-card {
  box-shadow: 1px 1px 3px rgb(199, 199, 199);
}

.product-card:hover {
  transform: scale(102%);
  box-shadow: 0px 1px 10px rgb(212, 212, 212);
}

.products-container, .product-container {
  min-height: 1000px;
}

.accordion>.card>.btn {
  text-decoration: none;
}

.pagination {
  margin-top: 50px;
}

.page-item .page-link {
  color: black;
}

.page-item.active .page-link {
  background-color: rgb(92, 92, 92);
  border-color: black;
}

/* .accordion-button:not(.collapsed) {
  color: black;
  background-color: white;
} */

/* .price-range-form {
  padding: 0 18px 3px;
  border: 1px solid #dbe2e8;
  border-radius: 20px;
  background-color: #fff;
  color: #2c2c2c;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} */